@font-face {
  font-family: "source-sans-bold";
  src: url("../../public/assets/fonts/SourceSansPro-Bold.otf");
  font-weight: normal;
}
@font-face {
  font-family: "source-sans-regular";
  src: url("../../public/assets/fonts/SourceSansPro-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "source-sans-light";
  src: url("../../public/assets/fonts/SourceSansPro-Light.otf");
  font-weight: normal;
}
@font-face {
  font-family: "source-sans-semibold";
  src: url("../../public/assets/fonts/SourceSansPro-Semibold.otf");
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Source-sans-pro, sans-serif;
} */
